
@{
    ViewBag.Title = "Task 3";
    Layout = "~/Views/Shared/_LayoutWithContainer.cshtml";
}

<div class="container">
    <h2>Task3</h2>
    <a href="@Url.Action("Index", "Products")" class="btn btn-primary"> Products </a>
    <a href="@Url.Action("Index", "Categories")" class="btn btn-primary"> Categories </a>

</div>

