
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h1>Task 2 Form</h1>
    <form method="post" action=@Url.Action("Submit", "Task2")>
        <input name="name" type="text" placeholder="name" class="form-control" />
        <br />
        <input name="email" type="email" placeholder="email" class="form-control" />
        <br />

        <input name="phone" type="text" placeholder="phone" class="form-control" />
        <br />

        <div class="form-check">
            <label class="form-check-label" for="male">Male</label> <input id="male" name="gender" type="radio" value="male" />
        </div>
        <div class="form-check">
            <label class="form-check-label" for="female">Female</label> <input id="female" name="gender" type="radio" value="female" />
        </div>
        <div class="form-check">
            <label class="form-check-label" for="other">Other</label>
            <input id="other" name="gender" type="radio" value="other" />
        </div>
        <select name="country" class="form-select">
            <option value="Jordan">Jordan</option>
            <option value="Usa">USA</option>
        </select>
        <br />
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

